/* Write your CSS here */
.container {
  background-image: url('https://assets.ccbp.in/frontend/react-js/ipl-dashboard-sm-bg.png');
  background-size: cover;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .container {
    background-image: url('https://assets.ccbp.in/frontend/react-js/ipl-dashboard-lg-bg.png');
  }
}
.heading {
  font-family: 'Bree Serif';
  color: #ffff;
  font-size: 40px;
  text-align: center;
}

.not-found-heading {
  color: #ffffff;
  font-family: 'Bree Serif';
  font-size: 32px;
}

@media screen and (min-width: 768px) {
  .not-found-heading {
    font-size: 64px;
  }
}